In [2]:
import pandas as pd

In [4]:
# casting merupakan convert tipe
# mengecek tipe data menggunakan .info()
# tipe data ada object, float, int, datetime
# casting data menggunakan function astype()

In [4]:
data_1 = pd.read_csv('supermarket_sales.csv')
data_1.head(2)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6

In [10]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [18]:
#casting float to int
data_1["Unit price"] = data_1["Unit price"].astype("int")
data_1["Unit price"]

0      74
1      15
2      46
3      58
4      86
       ..
995    40
996    97
997    31
998    65
999    88
Name: Unit price, Length: 1000, dtype: int32

In [12]:
# if casting data in many colomns
# first make a dictionary first

data_2 = pd.read_csv('supermarket_sales.csv')

casting_data = {
    "Date" : "datetime64[ns]",
    "Time" : "datetime64[ns]",
    "Payment" : "category",
    "cogs" : "int"
    
}

In [18]:
data_2 = data_2.astype(casting_data)
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   datetime64[ns]
 11  Time                     1000 non-null   datetime64[ns]
 12  Payment                  1000 non-null   category
 13  cogs                     1000 non-null   int32
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: category(1), datetime64[ns](2), float64(6), int32(1), int64(1), object(6)
memory usage: 122.3+ KB

In [24]:
# casting data when read data directly
casting_data_2 = {
    "Payment" : "category"
}

# parse date function utk mengubah tipe data saat read data file
data_3 = pd.read_csv("supermarket_sales.csv", dtype = casting_data_2, parse_dates = ["Date", "Time"])
data_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   datetime64[ns]
 11  Time                     1000 non-null   datetime64[ns]
 12  Payment                  1000 non-null   category
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: category(1), datetime64[ns](2), float64(7), int64(1), object(6)
memory usage: 126.2+ KB

C:\Users\akbar\AppData\Local\Temp\ipykernel_6076\3949190775.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data_3 = pd.read_csv("supermarket_sales.csv", dtype = casting_data_2, parse_dates = ["Date", "Time"])