In [2]:
import pandas as pd

In [4]:
robusta_data = pd.read_csv("robusta_data_cleaned.csv")
robusta_data.head(3)

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,1,Robusta,ankole coffee producers coop,Uganda,kyangundu cooperative society,NaN,ankole coffee producers,0,ankole coffee producers coop,1488,...,Green,2,"June 26th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1488.0,1488.0,1488.0
1,2,Robusta,nishant gurjer,India,sethuraman estate kaapi royale,25,sethuraman estate,14/1148/2017/21,kaapi royale,3170,...,NaN,2,"October 31st, 2018",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,3170.0,3170.0,3170.0
2,3,Robusta,andrew hetzel,India,sethuraman estate,NaN,NaN,0000,sethuraman estate,1000m,...,Green,0,"April 29th, 2016",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,1000.0,1000.0,1000.0

In [10]:
#filter data
filtered_data_robusta = robusta_data[(robusta_data["Country.of.Origin"] == "Uganda") & (robusta_data["altitude_mean_meters"] >= 1000)]
filtered_data_robusta.head(5)

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,1,Robusta,ankole coffee producers coop,Uganda,kyangundu cooperative society,NaN,ankole coffee producers,0,ankole coffee producers coop,1488,...,Green,2,"June 26th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1488.0,1488.0,1488.0
3,4,Robusta,ugacof,Uganda,ugacof project area,NaN,ugacof,0,ugacof ltd,1212,...,Green,7,"July 14th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1212.0,1212.0,1212.0
4,5,Robusta,katuka development trust ltd,Uganda,katikamu capca farmers association,NaN,katuka development trust,0,katuka development trust ltd,1200-1300,...,Green,3,"June 26th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1200.0,1300.0,1250.0
9,10,Robusta,ugacof,Uganda,ishaka,NaN,nsubuga umar,0,ugacof ltd,900-1300,...,Green,6,"August 5th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,900.0,1300.0,1100.0
10,11,Robusta,ugacof,Uganda,ugacof project area,NaN,ugacof,0,ugacof ltd,1095,...,Green,1,"June 26th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1095.0,1095.0,1095.0

In [16]:
# selected many colomns colomns
selected_cols = ["Owner", "Country.of.Origin", "Farm.Name", "Company", "Color", "Expiration", "altitude_mean_meters"]
selected_robusta_data = filtered_data_robusta[selected_cols]
selected_robusta_data.head(5)

,Owner,Country.of.Origin,Farm.Name,Company,Color,Expiration,altitude_mean_meters
0,ankole coffee producers coop,Uganda,kyangundu cooperative society,ankole coffee producers coop,Green,"June 26th, 2015",1488.0
3,ugacof,Uganda,ugacof project area,ugacof ltd,Green,"July 14th, 2015",1212.0
4,katuka development trust ltd,Uganda,katikamu capca farmers association,katuka development trust ltd,Green,"June 26th, 2015",1250.0
9,ugacof,Uganda,ishaka,ugacof ltd,Green,"August 5th, 2015",1100.0
10,ugacof,Uganda,ugacof project area,ugacof ltd,Green,"June 26th, 2015",1095.0

In [18]:
# rename severa colomns
rename_cols = {
    "Country.of.Origin" : "country.of.origin",
    "Farm.Name" : "farm.name"
}

rename_robusta_data = selected_robusta_data.rename(columns = rename_cols)
rename_robusta_data.head(3)

,Owner,country.of.origin,farm.name,Company,Color,Expiration,altitude_mean_meters
0,ankole coffee producers coop,Uganda,kyangundu cooperative society,ankole coffee producers coop,Green,"June 26th, 2015",1488.0
3,ugacof,Uganda,ugacof project area,ugacof ltd,Green,"July 14th, 2015",1212.0
4,katuka development trust ltd,Uganda,katikamu capca farmers association,katuka development trust ltd,Green,"June 26th, 2015",1250.0

In [27]:
# export data to csv
rename_robusta_data.to_csv("new_robusta_data.csv", header = False)

#read data csv
data = pd.read_csv("new_robusta_data.csv")
data.head(10)

,0,ankole coffee producers coop,Uganda,kyangundu cooperative society,ankole coffee producers coop.1,Green,"June 26th, 2015",1488.0
0,3,ugacof,Uganda,ugacof project area,ugacof ltd,Green,"July 14th, 2015",1212.0
1,4,katuka development trust ltd,Uganda,katikamu capca farmers association,katuka development trust ltd,Green,"June 26th, 2015",1250.0
2,9,ugacof,Uganda,ishaka,ugacof ltd,Green,"August 5th, 2015",1100.0
3,10,ugacof,Uganda,ugacof project area,ugacof ltd,Green,"June 26th, 2015",1095.0
4,13,kasozi coffee farmers association,Uganda,kasozi coffee farmers,kasozi coffee farmers association,Green,"July 14th, 2015",1367.0
5,14,ankole coffee producers coop,Uganda,kyangundu coop society,ankole coffee producers coop,Green,"July 14th, 2015",1488.0
6,17,kawacom uganda ltd,Uganda,bushenyi,kawacom uganda ltd,Green,"June 27th, 2015",1600.0
7,18,nitubaasa ltd,Uganda,kigezi coffee farmers association,nitubaasa ltd,Green,"June 27th, 2015",1745.0
8,19,mannya coffee project,Uganda,mannya coffee project,mannya coffee project,Green,"June 27th, 2015",1200.0